@import "@fontsource-variable/noto-sans-jp";

html {
    font-family: "Noto Sans JP Variable", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 800px;
    line-height: 1.5;
    background-color: white;
    color: black;
}

a {
    color: inherit;
}

* {
    box-sizing: border-box;
}
