---
import BaseLayout from "@layouts/BaseLayout.astro";
import { BlogPostItem } from "@components/BlogPostItem";
const allPosts = await Astro.glob("@pages/posts/*.md");
const pageTitle = "Weblog - iokira's blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h1>{pageTitle}</h1>
    <h2>美味しかったコーヒーや面白かった本、勉強したことについて書く日記。</h2>
    <ol class="blogPostItems">
        {
            allPosts
                .sort(
                    (a, b) =>
                        new Date(b.frontmatter.publishDate).getTime() -
                        new Date(a.frontmatter.publishDate).getTime(),
                )
                .map((post) => (
                    <li>
                        <BlogPostItem post={post} />
                    </li>
                ))
        }
    </ol>
</BaseLayout>
<style lang="scss">
    .blogPostItems {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-inline-start: 0;
    }
</style>
