---
import type { Crumb } from "src/types/Crumb";

interface Props {
    crumbs: Crumb[];
    topic: string;
}

const { crumbs, topic } = Astro.props;
---

<nav class="crumbs">
    <ol>
        {
            crumbs.map((crumb) => (
                <li class="crumb">
                    <a href={crumb.url}>{crumb.title}</a>
                </li>
            ))
        }
        <li class="crumb">{topic}</li>
    </ol>
</nav>

<style lang="scss">
    .crumbs {
        ol {
            list-style-type: none;
            padding-inline-start: 0;
        }
    }

    .crumb {
        display: inline-block;

        a::after {
            display: inline-block;
            content: ">";
            padding: 0 0.3rem;
        }
    }
</style>
